<h2> There are currently {{characters.length}} characters in the database.</h2>

{{#each characters as |character|}}
<p>
  <a href="/translate/{{character.meaning}}">
  {{character.symbol}} /
  </a>
  {{character.pinyin}} /
  {{character.meaning}} /
  {{character.used_as}} /
  {{character.example}}

</p>
{{/each}}

<form action="/character" method="post">
  <input type = "text" name="character[symbol]" placeholder="Symbol" />
  <input type = "text" name="character[pinyin]" placeholder="Pinyin" />
  <input type = "text" name="character[meaning]" placeholder="Meaning" />
  <input type = "text" name="character[used_as]" placeholder="Used As" />
  <input type = "text" name="character[example]" placeholder="Example" />
  <button type="submit"> Add Character </button>
</form>
