
<h3>
Chinese Symbol: {{character.symbol}} /
Pinyin: {{character.pinyin}} /
Meaning: {{character.meaning}} /
Function: {{character.used_as}} /
Example: {{character.example}} /
</h3>

<!-- {{#unless character}}
<h2> The character you searched for is not currently in the database. I am working tirelessly to add your character, so please check back in a few weeks!
</h2> -->
<!-- {{/unless}} -->
